.subsBox{
    // background-color: aqua;
    border-radius: 30px;
    background-image: url("../../../public/bgsubscr.png");
    background-repeat: no-repeat;
    background-position: 20px 30px;
    background-size: 20px 40px;
    background-position: center center;
    background-size: cover;
    height: 230px;
    // box-shadow: 2px 2px -10px 10px rgba(0, 255, 255, 0.2);
    // box-shadow:
    box-shadow: 11px 14px 25px -15px rgba(186,214,212,1);
    //    inset 0 0em 3em rgba(0, 255, 255,0.1),
    //         //  0 0  0 0px rgb(255,255,255),
    //          0.5em 0em 3em rgba(0, 255, 255,0.3);
}

