
@import "../../../styles/variable.scss";
.imgbg{
    background-color: $primary-color;
    border-radius: 10px;
    padding:10px 10px 10px 10px;
    text-align: center;
    white-space: nowrap;
    svg {
        margin-bottom: 5px;
    }
}
.goalBox {
    background-color: $investinfo-text-color;
    // display: inline-block;
    border-radius: 10px;
    padding: 8px 0px;
    .line {
        width: 100%;
        height: 2px;
        background-color: rgba(255,255,255,0.3);
        margin: 2px 0px;
    }
}
.iconBox {
    border-radius: 10px;
    padding:10px 10px 2px 10px;
    text-align: center;
    white-space: nowrap;
    svg {
        margin-bottom: 5px;
        fill: $investinfo-text-color !important;
        // stroke: $primary-color;
    }
}
.selectButton {
    margin-bottom: -20px;
    margin-top: 10px;
}
.amount {
    background-color: $investinfo-text-color;
    padding: 8px 0px;
}

.titlepill {
    background: #b3daff;
    color: #005CB3 !important;
    // width: 80px;
    font-family: $font-family;
    top: -.5em;
    position: relative;
  }