@import "../../../styles/variable.scss";

.container {
    // height: 100vh;
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    width: 100%;
    margin:20px 0px 20px 0px;
}
.investContainer {
    // height: 100vh;
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    // width: 100%;
    margin:20px 20px;
}
.imgbg{
    border-radius: 10px;
    padding:10px;
    display:Flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}