@import "../../../../styles/variable.scss";


.holderContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.holderName {
    margin: 5px 10px 0px 0px;
}

.badgeBlue {
    background-color: var(--colors-blue);
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
}

.icon:hover {
    cursor: pointer;
}

.button {
    transition-duration: 0.4s;
}

.button:hover {
    color: #fff;
}

@media (max-width: 767px) {
    .holderName {
        margin: 3px 0px 0px 0px;

        p {
            font-size: 10px;
        }
    }

    .badgeBlue {
        background-color: var(--colors-blue);
        border-radius: 5px;
        padding: 0px 5px;
        margin-bottom: 5px;
    }

    .holderBtn {
        background-color: transparent !important;
        color: var(--colors-yellow) !important;
        height: var(--space-7) !important;
        line-height: var(--space-7) !important;

        svg {
            fill: var(--colors-yellow10) !important;
        }
    }
}