@media only screen and (max-width:400px) {
    .centeralign {
        text-align: center;
    }

    .mftitle {
        width: 90% !important;
    }
}

.mftitle {
    width: 50%;

}

.mutualfunfimg {
    height: 84%;
    width: 56%;
}

.leftalign {

    text-align: left !important;

}

.rightalign {

    text-align: right !important;

}

@media only screen and (min-width:401px) and (max-width:850px) {

    .mftitle {
        width: 60%;

    }
}

.darkBlueColorBg {
    background-color: #005CB3;
}

.lightBlueColorBg {
    background-color: #B3DAFF;
}

.greyBg {
    background-color: #CCCCCC;
}

.progressBarText {
    font-size: 0.8rem;
    font-family: 'MerriweatherSans';
    color: #005CB3;
}

.progressBarText2 {
    font-size: 0.8rem;
    font-family: 'MerriweatherSans';
    color: #005CB3;
    margin-top: 40px;
}

.sectionMainHeading {
    font-family: 'MerriweatherSans' !important;
    font-size: 1.25rem;
    color: #005cb3;
}

.progress {
    height: 0.2rem;
}

@media screen and (max-width: 667px) {
    .sliderPosition {
        bottom: -11%;
    }

    .progressBarText {
        font-size: 0.6rem;
    }

    .progressBarText2 {
        font-size: 0.6rem;
        margin-top: -40px;
    }
}

.lightLightBlueColorBg {
    background-color: #B3DAFF;
}

.sectionMainHeading {
    font-family: 'MerriweatherSans' !important;
    font-size: 1.25rem;
    color: #005cb3;
}

.yellowBorderBottom {
    border-bottom: solid 1px #FAAC05;
    text-align: center;
    padding-bottom: 0.8em;
}

@media only screen and (max-width:400px) {
    .yellowBorderBottom {

        text-align: left !important;
    }
}

.lightTextBlueSmall {
    font-family: 'MerriweatherSans-Light' !important;
    font-size: 0.745rem;
    color: #005cb3;
}

.bgWhite {
    background-color: #FFFFFF;
    background: #FFFFFF;
}

.pointerHeading {
    // font-family: 'MerriweatherSans' !important;
    font-size: 0.8rem;
    color: #005cb3;
}

.lightBlueColorBg {
    background-color: #B3DAFF;
}

.lightTextBlue {
    // font-family: 'MerriweatherSans-Light' !important;
    font-size: 0.875rem;
    color: #005cb3;
}

.sectionMainHeading {
    // font-family: 'MerriweatherSans' !important;
    font-size: 1.25rem;
    color: #005cb3;
}

.yellowBorderBox {
    border: solid 1px #FAAC05;
    text-align: center;
}

.myGoalsMainSubHeading {
    // font-family: 'MerriweatherSans' !important;
    font-size: 0.745rem;
    color: #005cb3;
}

.stepNumber {
    background-color: #b3daff;
    color: #005CB3;
}

.subHeading {
    // font-family: 'MerriweatherSans' !important;
    font-size: 1rem;
    color: #005cb3;
}

.OtherBtn {
    // font-family: 'MerriweatherSans' !important;
    font-size: 0.875rem;
    background-color: #FAAC05 !important;
    color: #202020;
    border-radius: 10px !important;
    border-color: #FAAC05 !important;
    height: min-content !important;
    transition-duration: 0.4s;
}

.rounded {
    border-radius: 10px !important;
}

.image {

    height: 160px;
    width: 220px;

}

.investImg {
    height: 50px;
    width: 50px;
}

.info {
    background-color: #b3daff;
    margin-top: 30px;
    width: 64%;
    margin-left: 20%;
}



.imagegold {

    height: 80px;
    width: 200px;
    margin-top: 80px;

}

.kycStatusText {
    height: 15px;
    width: 100%;
    font-size: 1rem;
}

@media only screen and (min-width:400px) {

    .imagegold {

        text-align: center !important;
    }

}


@media only screen and (max-width:400px) {
    .lightTextBlue {
        text-align: left !important;
    }

    .investImg {


        height: 50px;
        width: 50px;
    }

    .info {

        text-align: left !important;
    }

    .kycStatusText {
        font-size: 0.65rem;
    }
}

// For 3D-Carousel
.txtwidth {
    width: 86%;
}

.imgwidth {
    width: 200px;
}

.OtherBtn {
    font-family: 'MerriweatherSans' !important;
    font-size: 0.875rem;
    background-color: #FAAC05 !important;
    color: #202020;
    border-radius: 10px !important;
    border-color: #FAAC05 !important;
    height: min-content !important;
    transition-duration: 0.4s;
}

.OtherBtn:hover {
    color: #FFFFFF;
}

.imgalign {
    height: 100px;
    margin-right: 100px;
    margin-bottom: 25px;
}


.gallery-controls {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.gallery-controls button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    margin: 0 20px;
    padding: 0 12px;
    text-transform: capitalize;
}

.gallery-controls button:focus {
    outline: none;
}

.darkBlueColorBg {
    background-color: #005CB3;
}

.regularTextWhite {
    font-family: 'MerriweatherSans' !important;
    font-size: 0.875rem;
    color: #FFFFFF;
    text-align: left;
}


.lightBg {
    background-color: #b3daff;
}

.subNavName {
    font-size: 0.875rem;
    color: #005CB3;
    font-family: 'MerriweatherSans';
}

.wealthimg {
    height: 80px;
    // width: 150px;
}

.carImg {
    height: 80px;
    // width: 150px;
}

.retirementImg {
    height: 80px;
    // width: 150px;
}

.imgalign {
    height: 100px;
    margin-right: 100px;
    margin-bottom: 25px;
}

.bluepatch {
    width: 340px;
    margin-left: 10px;
}

.scrollit {
    overflow: auto;
    height: 325px;
    width:auto;
}

.scrollitMature {
    overflow: auto;
    height: 225px;
    width:auto;
}
