@import "../../../styles/variable.scss";


.OtherBtn {
    font-size: 0.875rem;
    background-color: #FAAC05 !important;
    color: #202020;
    border-radius: 10px !important;
    border-color: #FAAC05 !important;
    height: min-content !important;
    transition-duration: 0.4s;
}


.blueBgBoxDrm {
    width: 95%;
    background-color: #005CB3;
    border-radius: 1rem;
}


.blueBoxText {
    color: #B3DAFF;
    font-size: 0.9rem;
}

.darkBlueBoxText {
    color: #005CB3;
    font-size: 0.85rem;
}

.blueBoxText2 {
    color: #202020;
    font-size: 1rem;
}


.whiteBoxTitleText {
    color: #FFF;
    font-size: 0.9rem;
}

.whiteBoxValueText {
    color: #FFF;
    font-size: 1rem;
}