@import "../../../styles/variable.scss";

.homeContainer {
    // height: 100vh;
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    width: 100%;
}
.basketBox {
    width: 100% !important;
    border: 1px solid #f2f2f2;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, $alpha: 1);
    padding: 35px;
    box-shadow: 0px 10px 15px -18px  rgba(0, 0, 0, 0.3),
}
.bgBox{
    background-color: rgba(0, 0, 0, $alpha: 0.03);
    height: 100vh;
}
.img {
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.3);
    width: 150px;
    height: 150px;
    margin-bottom:20px;
}
.mt10{
    margin-top:10px;
}