.blueBox {
    background-color: #B3DAFF;
}

.lightBlueBorder {
    border: solid 1px #B3DAFF;
}

.slider input[type="range"] {
    background: #053a5f;
    height: 0.5rem;
}


.inputBlue {
    background-color: #b3daff !important;
    border: 1px solid #B3DAFF !important;
    border-radius: 5px !important;
}

.inputRed {
    background-color: #ffb3b3 !important;
    border: 1px solid #B3DAFF !important;
    border-radius: 5px !important;
}