@import "../../../styles/variable.scss";

.homeContainer {
    // height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.basketContainer {
    // height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // border: 2px solid red;
    // padding: 10px;
    // width: 95%;
    margin:30px 0;
}
.basketBox {
    width: 100% !important;
    border: 1px solid #f2f2f2;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, $alpha: 1);
    padding: 35px;
    box-shadow: 0px 10px 15px -18px  rgba(0, 0, 0, 0.3),
}
