@import "../../../styles/variable.scss";

.hovBtn {
    transition-duration: 0.4s;
    font-family: $font-family;
    color: rgb(32, 32, 32);
}

.hovBtn:hover {
    color: #fff;
}

.titlepill {
    background: #b3daff;
    color: #005CB3 !important;
    // width: 80px;
    font-family: $font-family;
}

.titleSubpill {
    border-color: #4d7ea8 !important;
    color: #005CB3 !important;
    // width: 80px;
}

.internalColor{
   // background: #FFD987 !important;
   background: #b3daff !important;
    font-size: 0.75rem !important;
    font-weight:lighter !important;
    //color: rgb(64, 64, 64);
    color:#202020;
}

.externalColor{
    background: #767171 !important;
    font-size: 0.75rem !important;
    font-weight:lighter !important;
}
.redFont{
    color: red !important;
}
.greenFont{
    color: green !important;
}