@import "../../../../styles/variable.scss";


.header {
  background-color: #fff;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
  // position: fixed;
  position: sticky;
  // z-index: 1100;
  z-index: 2;
  top: 0px;
  left: auto;
  right: 0px;
  color: rgb(255, 255, 255);
  // padding-left: calc($sidebar-width + 15px);
  transition: all 0.3s ease-in-out;

  // background-color: rgb(250, 251, 251);
  .headerContainer {
    position: relative;
    padding: 0px 15px;
    // display: flex;
    -webkit-box-align: center;
    // align-items: center;
    // padding-left: 20px;
    // padding-right: 16px;
    // color: rgb(148, 157, 178);
    color: #363B64;
    // min-height: $header-height;


    // background-color: $background-color;
    // background-color: #fff;
    // background: linear-gradient(165deg, #0463EF, #66E5FB);
    // >div {
    //   // min-height: $header-height;
    // }

    .logoSection {
      // width: $sidebar-width;
      margin-right: 30px;
      text-align: center;

      img {
        width: 150px !important;
      }
    }

    .headerLogo {
      opacity: 0;
    }

    button {
      display: flex;
      padding: 10px;
      border: none;

      // border-radius: 10px;
      // background-color: transparent;
      // margin-right: 15px;
      svg {
        width: 20px;
        height: 20px;
        color: #fff;
        // stroke: $primary-color;
      }
    }

    .searchHeader {
      padding-left: 20px;
    }

    .headerContainerCenter {
      -webkit-box-flex: 1;
      flex-grow: 1;
    }

    .dropdownMenu {
      position: relative;

      button {
        align-items: center;
      }

      svg {
        width: 20px;
        height: 20px;
        margin-left: 10px;
      }

      .dropdownList {
        // display: none;
        position: absolute;
        right: 0;
        top: 130%;
        background-color: #fff;
        box-shadow: rgb(0 0 0 / 8%) 1px 2px 10px;
        width: 250px;
        border-radius: 10px;
        padding: 5px 0px;

        a {
          padding: 10px;
          display: block;
          border-radius: 10px;
          margin: 0px 5px;
          color: $secondary-color;

          svg {
            margin-left: 0px;
            margin-right: 10px;
            color: rgba(0, 0, 0, 0.24);
            width: 20px;
            height: 30px;
          }

          &:hover {
            background-color: $primary-color;
            color: $sub-background;

            svg {
              color: rgba(255, 255, 255, 0.54);
            }
          }
        }
      }
    }

    .searchInp {
      border-radius: 30px;
      padding: 5px 5px 5px 35px;
      // margin-top: 15px;
    }
  }

  &.headerClose {
    padding-left: 0px;
    transition: all 0.3s ease-in-out;

    .headerContainer {
      .headerLogo {
        opacity: 1;
      }
    }
  }
}

.userImg {
  img {
    border-radius: 10px;
    // padding: 5px 5px 5px 35px;
    background-color: gray;
    // margin-left: 10px;
    // width: 100;
  }
}

.leftBorder {
  border-left: 1px solid #f2f2f2;
}

.relationship {
  font-size: 12px;
  color: $secondary-color;
  white-space: nowrap;
}

.managerName {
  font-size: 0.8rem;
  color: $primary-color;

  svg {
    fill: $primary-color !important;
    margin-left: 0px;
    padding: 5px;
    width: 25px;
    height: 25px;
  }
}

.managerDetails {
  font-size: 0.745rem;
  color: $primary-color;

  svg {
    fill: $primary-color !important;
    margin-left: 0px;
    padding: 5px;
    width: 25px;
    height: 25px;
  }
}

.boxNavbar {
  display: flex !important;
}

.boxContainer {
  margin-left: 20px !important;
  margin-right: 20px !important;
  padding: 0px !important;
}

.buttonContainer {
  background-color: white !important;
}

@media (max-width: 700px) {
  .boxContainer {
    margin-left: 5px !important;
    margin-right: 5px !important;
  }
}

.subNavVline {
  border-right: 2px solid #faac05;
}

.subNavName {
  font-size: 0.745rem;
}

.relationShipManager {
  font-size: 0.9rem;
  color: #767171;
}

.relationShipManager .managerNamee {
  color: #339CFF;
}

.subNavicon {
  background: #b3daff;
  color: #005CB3;
  border: solid 1px #005CB3;
  width: 2rem;
  height: 2rem;
  font-size: 1em;
  border-radius: 5px;
  text-align: center;
  color: #005CB3;
}