.cardBox {
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #82afd9;
}

.accordienBordreHeader{
    border: 1px solid #82afd9;
    border-radius: 0px 0px 8px 8px;
}

.accordienBordre{
    background-color: #FFFFFF;
    border: 1px solid #82afd9;
    border-radius: 0px 0px 8px 8px;
}

.underline{
    text-decoration: underline;
}

.uploadbtn {
    display: flexbox;
    
}

.uploadbtn::-webkit-file-upload-button {
    background: orange !important;
    color: rgb(32, 32, 32);
    padding-left: 1em;
    padding-right: 1em;
    border: none;
    border-radius: 10px;
}

.line{
    border-bottom: solid 1px #FAAC05;
}

.statusActive{
    width: fit-content;
    background-color: #179E0D;
    border: 1px solid #179E0D;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: var(--fontSizes-xs);
}

.statusInprocess{
    width: fit-content;
    background-color: #FFD987;
    border: 1px solid #FFD987;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: var(--fontSizes-xs);
}

.statusClosed{
    width: fit-content;
    background-color: #767171;
    border: 1px solid #767171;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: var(--fontSizes-xs);
}

.modalBorder{
    border: 1px solid #707070;
}

.yellowBUtton{
    color: #000000 !important;
    background-color: #FAAC05 !important;
}

.button {
    transition-duration: 0.4s;
  }
  
  .button:hover {
    color: #fff;
  }