@import "../../../styles/variable.scss";

.scrollit {
    overflow:auto;
    height: 350px;
}

.yellowBorderBottom
{
    border-bottom: solid 1px #FBC040;
}

.borderRadiusForTable
{
    border-radius: 8px !important;
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important; 
}
.cellStyle{
    font-size: 0.85rem !important; 
    color: #0463ef !important ;
}