 @import "../../../styles/variable.scss";
// .pgbtn {
//     border-radius: 50% !important;
//     width: 0px !important;
    
//     background-color: blue !important;
// }
// .pgbtn.active,
// .pgbtn:focus{
//     background-color: orange !important;
//     color: #fff !important;
// }

// .pgtext {
//     font-size: 0.7rem !important;
//     color : #005CB3 !important;
// }

.button {
    transition-duration: 0.4s;
    font-family: $font-family;
}

.button:hover {
    color: #fff;
}
.uploadbtn {
    display: flexbox;
    
}

.uploadbtn::-webkit-file-upload-button {
    background: orange !important;
    color: rgb(32, 32, 32);
    padding-left: 1em;
    padding-right: 1em;
    border: none;
    border-radius: 10px;
}

.inputBorder{
    border : 1px solid rgb(199, 199, 199) !important;
}

.scrollit {
    overflow:auto;
    height: 400px;
}