@import "../../../styles/variable.scss";

.img {
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.3);
    background-image: url(/public/Quick_SIP_Image.png);
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

.imgbg{
    background-color: $primary-color;
    border-radius: 10px;
    padding:10px 10px 10px 10px;
    text-align: center;
    white-space: nowrap;
    svg {
        margin-bottom: 5px;
    }
}

.font {
    font-family: $font-family;
}

.button {
    transition-duration: 0.4s;
    font-family: $font-family;
}

.button:hover {
    color: #fff;
}

.sipCard {
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #82afd9;
}

.bluePills {
    background-color: #b3daff;
    color: #0861b6;
    border-radius: 8px 8px 8px 8px;
}

.titlepill {
    background: #b3daff;
    color: #005CB3 !important;
    // width: 80px;
    font-family: $font-family;
    top: -.5em;
    position: relative;
  }