@import "../../../styles/variable.scss";

.loginContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 95%;

  @media only screen and (max-width: 768px) {
    align-items: flex-start;
    justify-content: center;
    width: 100%;
  }
}

.pleaselogin {
  text-align: left;
  margin-bottom: 20px !important;
}

.toggleBtn {
  button {
    position: absolute !important;
    right: 0;
    top: 0;
    z-index: 9 !important;
    border-radius: 0.25rem !important;
  }
}

.loginBox {
  max-width: 350px;
  border: 1px solid #f2f2f2;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, $alpha: 1);
  padding: 35px;
}

.loginbg {
  background-color: #363B64;
  background-size: cover;
  background-position: center;
  display: block;
  align-items: center;
  justify-content: end;
  width: 100%;
  background-blend-mode: overlay;
}

.header {
  background-color: #fff;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
  top: 0px;
  left: auto;
  right: 0px;
  color: rgb(255, 255, 255);

  transition: all 0.3s ease-in-out;

  .headerContainer {
    position: relative;
    padding: 0px 15px;
    -webkit-box-align: center;
    color: #363B64;

    .logoSection {
      margin-right: 30px;
      text-align: center;

      img {
        width: 150px !important;
      }
    }

    .headerLogo {
      opacity: 0;
    }

    .searchHeader {
      padding-left: 20px;
    }

    .headerContainerCenter {
      -webkit-box-flex: 1;
      flex-grow: 1;
    }
  }
}

.titleHeader {
  user-select: none;
  line-height: 1;
  color: var(--colors-mediumBlue);
  letter-spacing: var(--letterSpacings-widest);
  font-weight: var(--fontWeights-semibold);
  display: inline-block;
}