@import "../../../styles/variable.scss";
.titlepill {
    background: #b3daff;
    color: #005CB3 !important;
    // width: 80px;
    font-family: $font-family;
  }
  
  .titleSubpill {
    border-color: #4d7ea8 !important;
    color: #005CB3 !important;
    // width: 80px;
  }