@import "../../../styles/variable.scss";

.activetab {
  padding: 15px;
  border: 0px solid green;
  color: blue;
  // border-bottom: 5px solid blue;
  background-color: blue;
  border-radius: 5px;
}

  .blueBgBox{
    width:100%;
    background-color: #005CB3;
    border-radius: 0.7rem;
  }
// .completedTab {
//   color: #ffffff !important;
//   background-color: var(--colors-darkblue) !important;
// }

.runningTab {
  box-shadow: 0 5px #a8abe7 !important;
}

.blueBgBoxDrm {
  width: 95%;
  background-color: #005CB3;
  border-radius: 1rem;
}

.blueBoxText {
  color: #B3DAFF;
  font-size: 0.9rem;
}

.darkBlueBoxText {
  color: #005CB3;
  font-size: 0.6rem;
}

.familyMemberList {
  width: fit-content;
  border-left: solid 1px #FAAC05;
  font-size: 0.7rem;
  color: #000;
  text-align: end;
}

.blueBoxText2 {
  color: #FFFFFF;
  font-size: 1rem;
}

.headersLabel {
  font-size: var(--fontSizes-base);
  line-height: var(--lineHeights-md);
  font-family: var(--fontFamily-base);
}

.bodyContent {
  font-family: var(--fontFamily-Light);
  font-size: var(--fontSizes-base);
  font-weight: 300;
}

.runningTab[data-state="active"] {
  color: #ffffff !important;
  background-color: var(--colors-darkblue) !important;
}

button [type=button] .btn {
  box-shadow: none;
}
