@import "../../../styles/variable.scss";

.categoryContainer {
  // height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between !important;
}

.borderBottomGrey{
  border-bottom: solid 1px #dbdbdb;
  padding-Bottom:8px;
  padding-top: 5px;
  }

.portfolioContainer {
  margin: 30px 0;
}

.badge {
  border-radius: 5px;
  background-color: "transparent";
  padding: 5px 10px;
  min-width: 40px;
  // max-width:60px;
  border: 1px solid #ccc;
}

.badgeImage {
  border-radius: 5px;
  background-color: "white";
  padding: 2px 3px 0px 5px;
  max-width: 35px;
  // max-width:60px;
  // border:1px solid #ccc;
  box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.25);
}

.badgeSelect {
  border-radius: 5px;
  background-color: #0a51a4;
  padding: 5px 10px;
  min-width: 40px;
  // max-width:60px;
  border: 1px solid #ccc;
}

.holderContainer {
  display: flex;
  flex-direction: row;
}

.holderName {
  margin: 5px 10px 0px 0px;
}

//for Pills
.titlepill {
  background: #b3daff;
  color: #005CB3 !important;
  // width: 80px;
  font-family: $font-family;
}

.titleSubpill {
  border-color: #4d7ea8 !important;
  color: #005CB3 !important;
  background-color: #ffffff;
  // width: 80px;
}

.titleDetailspill {
  // background: #b3daff;
  background: #005CB3;
  color: #fff !important;
  width: 80px;
  font-family: $font-family;
}

.titleDetailsSubpill {
  border-color: #4d7ea8 !important;
  color: #005CB3 !important;
  width: 80px;
}


// .badge{
//     border-radius:5px;
//     padding:5px 5px;
//     margin-bottom: 5px;
//     border:1px solid #ccc;
//     color:'$blue1';
// }

// .ulContainer {}

.liContainer {
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 5px;

  span {
    color: black;
  }

  svg {
    fill: #0a51a4 !important;
  }
}

.liliContainer {
  margin-left: 25px;
}

.speedContainer {
  display: grid;
  flex-direction: column;
  align-content: flex-end;
}

/** SCHEME MODAL CSS **/

.riskComp {
  background-color: #d6eaff;
  // margin:20px 0px 20px 0px;
  border-radius: 10px;
  width: 100%;
  height: 6px;
  text-align: center;
}

.riskAvg {
  background-color: #0a51a4;
  // margin:20px 0px 20px 0px;
  border-radius: 10px;
  width: 100%;
  height: 6px;
  text-align: center;
}

.colorBox {
  height: 5px;
  position: relative;
  line-height: 100px;
  vertical-align: middle;
  margin-bottom: 20px;
  text-align: center;
  background-color: #0a51a4;
  border-radius: 10px;
}

.a {
  background: #9c9e9f;
  border-radius: 10px;
}

.a:after {
  content: "";
  width: 95%;
  height: 100%;
  top: 0;
  right: 0;
  display: block;
  position: absolute;
}

.a:after {
  background: #f6f6f6;
}

.boxYellow {
  height: 5px;
  position: relative;
  line-height: 100px;
  vertical-align: middle;
  margin-bottom: 20px;
  text-align: center;
  background-color: orange;
  border-radius: 10px;
}

.yellowBox:after {
  content: "";
  width: 75%;
  height: 100%;
  top: 0;
  right: 0;
  display: block;
  position: absolute;
}

.yellowBox:after {
  background: #f6f6f6;
}

.boxGreen {
  height: 5px;
  position: relative;
  line-height: 100px;
  vertical-align: middle;
  margin-bottom: 20px;
  text-align: center;
  background-color: green;
  border-radius: 10px;
}

.greenBox:after {
  content: "";
  width: 65%;
  height: 100%;
  top: 0;
  right: 0;
  display: block;
  position: absolute;
}

.greenBox:after {
  background: #f6f6f6;
}

.boxReal {
  height: 5px;
  position: relative;
  line-height: 100px;
  vertical-align: middle;
  margin-bottom: 20px;
  text-align: center;
  background-color: brown;
  border-radius: 10px;
}

.realBox:after {
  content: "";
  width: 35%;
  height: 100%;
  top: 0;
  right: 0;
  display: block;
  position: absolute;
}

.realBox:after {
  background: #f6f6f6;
}

.boxComm {
  height: 5px;
  position: relative;
  line-height: 100px;
  vertical-align: middle;
  margin-bottom: 20px;
  text-align: center;
  background-color: #0a51a4;
  border-radius: 10px;
}

.commBox:after {
  content: "";
  width: 85%;
  height: 100%;
  top: 0;
  right: 0;
  display: block;
  position: absolute;
}

.commBox:after {
  background: #f6f6f6;
}

.boxEnergy {
  height: 5px;
  position: relative;
  line-height: 100px;
  vertical-align: middle;
  margin-bottom: 20px;
  text-align: center;
  background-color: orange;
  border-radius: 10px;
}

.energyBox:after {
  content: "";
  width: 25%;
  height: 100%;
  top: 0;
  right: 0;
  display: block;
  position: absolute;
}

.energyBox:after {
  background: #f6f6f6;
}

.boxInd {
  height: 5px;
  position: relative;
  line-height: 100px;
  vertical-align: middle;
  margin-bottom: 20px;
  text-align: center;
  background-color: green;
  border-radius: 10px;
}

.indBox:after {
  content: "";
  width: 67%;
  height: 100%;
  top: 0;
  right: 0;
  display: block;
  position: absolute;
}

.indBox:after {
  background: #f6f6f6;
}

.boxTech {
  height: 5px;
  position: relative;
  line-height: 100px;
  vertical-align: middle;
  margin-bottom: 20px;
  text-align: center;
  background-color: brown;
  border-radius: 10px;
}

.techBox:after {
  content: "";
  width: 65%;
  height: 100%;
  top: 0;
  right: 0;
  display: block;
  position: absolute;
}

.techBox:after {
  background: #f6f6f6;
}

.button {
  transition-duration: 0.4s;
}

.button:hover {
  color: #fff;
}

//modal css
.paymentScroll {
  overflow: auto;
  // background: #fff;
}

.paymentTabs {
  box-shadow: 0px -1px 8px 0px rgba(0, 0, 0, 0.5) !important;
  background: #fff;
}

// StyledTabs[data-state="true"]{
//     background: orange !important;
// }
.paymentTabs:active {
  background-color: orange !important;
  background: orange !important;
  color: orange !important;
}

.paymentScroll::-webkit-scrollbar {
  display: none;
}