.plusYellow{
    background-color:#FBC040;
    border-radius: 30px;
    width: 25px;
    height: 25px;
    padding: 0px 5px;
}
.activetab{
    padding:15px;
    border:0px;
    color: #0A51A4;
    border-bottom: 3px solid #0A51A4;
    font-size: 13px;
    font-weight: 600;
  }
  .inactivetab{
    padding:15px;
    border:0px;
    color: gray;
    border-bottom: 3px solid transparent;
    font-size: 13px;
    font-weight: 600;
  }
  .columnRow{
      font-size: 15px;
  }
  .dataCell{
      font-size: 12px;
      font-weight: 700;
  }
  .target {
      background-image: url(../../../public/round.png);
      background-repeat: no-repeat;
      background-position: left center;
  }