@import "../../../styles/variable.scss";
// .changePass{
//     // border: "1rem" !important;
//     border-radius: "25px" ;
//     border-width: "5px";
//     background-color: azure;
//     font-size: 2rem !important;
// }

.button {
    transition-duration: 0.4s;
    font-family: $font-family;
    color:black;
}

.button:hover {
    color: #fff;
}
.font {
    font-family: $font-family;
}