@import "../../../styles/variable.scss";

.paymentScroll {
    overflow: auto;
    // background: #fff;
}

.paymentTabs {
    box-shadow: 0px -1px 8px 0px rgba(0, 0, 0, 0.5) !important;
    background: #fff;
}

// StyledTabs[data-state="true"]{
//     background: orange !important;
// }
.paymentTabs:active {
    background-color: orange !important;
    background: orange !important;
    color: orange !important;
}

.paymentScroll::-webkit-scrollbar {
    display: none;
}

.uploadBtn {
    display: flexbox;
}

.uploadBtn::-webkit-file-upload-button {
    background: orange !important;
    color: rgb(32, 32, 32);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.titlepill {
    background: #b3daff;
    color: #005CB3 !important;
    width: auto;
    font-family: $font-family;
}

.titleSubpill {
    border-color: #4d7ea8 !important;
    color: #005CB3 !important;
    width: auto;
}

.hovBtn {
    transition-duration: 0.4s;
    font-family: $font-family;
    color: rgb(32, 32, 32);
}

.hovBtn:hover {
    color: #fff;
}

.investProfileColor {
    background: #005CB3 !important;
    font-size: 0.75rem !important;
    font-weight: lighter !important;
    color: #FFF;
}

.internalColor {
    // background: #FFD987 !important;
    background: #b3daff !important;
    font-size: 0.75rem !important;
    font-weight: lighter !important;
    //color: rgb(64, 64, 64);
    color: #202020;
}

.externalColor {
    background: #767171 !important;
    font-size: 0.75rem !important;
    font-weight: lighter !important;
}

.redFont {
    color: red !important;
}

.greenFont {
    color: green !important;
}

.scrollit {
    overflow: auto;
    height: 350px;
}

.cellStyle {
    font-size: 0.85rem !important;
    color: #0463ef !important;
}

.iconBox {
    border-radius: 10px;
    padding: 10px 10px 2px 10px;
    text-align: center;
    white-space: nowrap;

    svg {
        margin-bottom: 5px;
        fill: $investinfo-text-color !important;
        // stroke: $primary-color;
    }
}

.scroll {
    background: var(--colors-blue1);
    color: #fff;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.OtherBtn {
    font-size: 0.875rem;
    background-color: #FAAC05 !important;
    color: #202020;
    border-radius: 10px !important;
    border-color: #FAAC05 !important;
    height: min-content !important;
    transition-duration: 0.4s;
}