@import "../../../styles/variable.scss";

.container {
    // height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0px 20px 0px;
}

.goalContainer {
    // height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // border: 2px solid red;
    // padding: 10px;
    // width: 95%;
    margin: 30px 0;
}

.basketBox {
    width: 100% !important;
    border: 1px solid #f2f2f2;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, $alpha: 1);
    padding: 35px;
    box-shadow: 0px 10px 15px -18px rgba(0, 0, 0, 0.3),
}

.img {
    // border-radius: 25px;
    background: rgba(0, 0, 0, 0.3);
    width: 75px;
    height: 75px;
    margin-bottom: 20px;
}

// .mt10{
//     margin-top:10px;
// }
// .mtl10{
//     margin:10px 0 0 10px;
// }
// .mtl5{
//     margin:0 5px;
// }
// .ml5{
//     margin-left:5px;
// }
// .mb10{
//     margin-bottom:10px;
// }
// .m10{
//     margin:10px;
// }
.p20 {
    padding: 35px 30px;
}

.textLeft {
    text-align: left;
}

.activetab {
    padding: 15px;
    border: 0px;
    color: #0A51A4;
    border-bottom: 5px solid #0A51A4;
}

.inactivetab {
    padding: 15px;
    border: 0px solid green;
    color: gray;
    border-bottom: 5px solid transparent;
}

.goalContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 0 0 5px 0;
}

.tabsContent {
    padding: 10px 0 0 0 !important;
}

.imgbg {
    // background-color: black;
    border-radius: 25px;
    padding: 20px;
}

.badge {
    border-radius: 5px;
    background-color: rgb(135, 206, 235, 0.5);
    padding: 5px 15px;

}

.holderContainer {
    display: flex;
    flex-direction: row;
}

.holderName {
    margin: 5px 10px 0px 0px;
}

.borderBlue {
    border: solid 1px #0A51A4;
}