.loader_main_div {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.loaderStyle
{
  background-color: #B3DAFF;
  border: solid 1px #0A51A4;
  border-radius: 6px;
  color: #0A51A4;
}
