.img {
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.3);
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.statusName {
    width: 100px;
}

.statusFrame {
    width: 100px;

    div {
        width: 100%;
    }
}

.accordienBordreHeader {
    border: solid 5px #82afd9;
    border-radius: 0px 0px 8px 8px;
}

.accordienBordre {
    background-color: #FFFFFF;
    border: 1px solid #82afd9;
    border-top: none;
    border-radius: 0px 0px 8px 8px;
}

@media (min-width: 992px) {
    .img {
        border-radius: 25px;
        background: rgba(0, 0, 0, 0.3);
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
}


@media (min-width: 1400px) {
    .img {
        border-radius: 25px;
        background: rgba(0, 0, 0, 0.3);
        width: 150px;
        height: 150px;
        object-fit: cover;
    }
}