@import "../../../styles/variable.scss";

// .registrationContainer {
//     // height: 100vh;
//     display: flex;
//     align-items:center;
//     justify-content: space-between;
//     width: 100%;
//     margin:20px 0px 20px 0px;
// }
.portfolioContainer {
  // height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // border: 2px solid red;
  // padding: 10px;
  // width: 95%;
  margin: 30px 0;
}

.badge {
  border-radius: 5px;
  background-color: rgb(135, 206, 235, 0.5);
  padding: 5px 15px;
}

.holderContainer {
  display: flex;
  flex-direction: row;
}

.holderName {
  margin: 5px 10px 0px 0px;
}

.activetab {
  padding: 15px;
  border: 0px solid green;
  color: blue;
  // border-bottom: 5px solid blue;
  background-color: blue;
  border-radius: 5px;
}

.img {
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.3);
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

.panCard {
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.3);
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

.completedTab {
  color: #ffffff !important;
  background-color: var(--colors-darkblue) !important;
}

.runningTab {
  box-shadow: 0 5px #a8abe7 !important;
}

.uploadbtn {
  display: flexbox;

}

.uploadbtn::-webkit-file-upload-button {
  background: #FBC040 !important;
  color: rgb(32, 32, 32);
  padding-left: 1.1em;
  padding-right: 1em;
  border: none;
  border-radius: 5px;
}

.instruction_list li {
  font-size: 0.8rem !important;
}