@import "../../../styles/variable.scss";

.titleHeader {
    user-select: none;
    line-height: 1;
    color: var(--colors-mediumBlue);
    letter-spacing: var(--letterSpacings-widest);
    font-weight: var(--fontWeights-semibold);
    display: inline-block;
}