@import "../../../styles/variable.scss";

.landingContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // border: 2px solid red;
  // padding: 10px;
  // width: 95%;
}
.pleaselogin {
  text-align: left;
  margin-bottom: 20px !important;
}
// .forgotpw{
//     font-size: small !important;
//     padding: 25px !important;

// }
.toggleBtn {
  button {
    position: absolute !important;
    right: 0;
    top: 0;
    z-index: 9 !important;
    border-radius: 0.25rem !important;
  }
}
.loginBox {
  width: 25% !important;
  border: 1px solid #f2f2f2;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, $alpha: 1);
  padding: 35px;
}
.landingbg {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url("../../../public/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  align-items: center;
  display: flex;
  //   padding-top: 100px;
}

// invest css

.investContainer {
  // background: rgba(0, 0, 0, 0.2);
  // padding: 50px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 25px;
  row-gap: 2em;
}
.nowContainer {
  background: rgba(255, 255, 255, 1);
  padding: 25px;
  border-radius: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 25px;
}

// slider css
.sliderContainer {
  background: rgba(0, 0, 00, 0.2);
  padding: 45px;
  border-radius: 10px;
  // width: 780px !important;
  // margin-left: 25px;
  // overflow: hidden;
  // text-overflow: ellipsis;
  // max-width: 100%;
  // height: 75vh;
}

.investContent {
  margin-bottom: 25px !important;
}
