@import "../../../styles/variable.scss";

.container {
    // height: 100vh;
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    width: 100%;
    margin:20px 0px 20px 0px;
}
.goalContainer {
    // height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // border: 2px solid red;
    // padding: 10px;
    // width: 95%;
    margin:30px 0;
}
.basketBox {
    width: 100% !important;
    border: 1px solid #f2f2f2;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, $alpha: 1);
    padding: 35px;
    box-shadow: 0px 10px 15px -18px  rgba(0, 0, 0, 0.3),
}
.bgBox{
    background-color: rgba(0, 0, 0, $alpha: 0.03);
    // height: 100vh;
}
.img {
    // border-radius: 25px;
    background: rgba(0, 0, 0, 0.3);
    width: 75px;
    height: 75px;
    margin-bottom:20px;
}
.mt10{
    margin-top:10px;
}
.mt5{
    margin-top:5px;
}
.mb10{
    margin-bottom:10px;
}
.m10{
    margin:10px;
}
.p20{
    padding:35px 30px;
}
.textLeft{
    text-align: left;
}
.padding{
    padding:25px;
}
.badge{
    border-radius:5px;
    background-color:rgb(135, 206, 235, 0.5);
    padding:5px 15px;
}
.holderContainer{
    display: flex;
    flex-direction: row;
}
.holderName{
    margin:5px 10px 0px 0px;
}