@import "../../../styles/variable.scss";

.portfolioContainer {
    // height: 100vh;
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    width: 100%;
    margin:20px 0px 20px 0px;
}
.portfolioContainer {
    // height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // border: 2px solid red;
    // padding: 10px;
    // width: 95%;
    margin:30px 0;
}
.badge{
    border-radius:5px;
    background-color:rgb(135, 206, 235, 0.5);
    padding:5px 15px;
}
.holderContainer{
    display: flex;
    flex-direction: row;
}
.holderName{
    margin:5px 10px 0px 0px;
}