.key_value_table {
  tbody {
    tr {
      display: grid;
      grid-template-columns: 2fr 3fr;
      grid-gap: 10px;
    }
  }
}
.mandateList {
  tbody {
    tr {
    background-color: #fff;
    
    }
    td{
      border-bottom: 1px solid rgb(203, 196, 196);
      padding-bottom: 8px;
      padding-top:10px;
    }
  } 
}

.scrollit {
  overflow:auto;
  height: 350px;
}
