@import "./variable.scss";
@import "react-toastify/dist/ReactToastify.min.css";

// @mixin tbl($tblStyle) {
//   @if $tblStyle  == stockmng{
//     height : calc($height - 540px);
//   }
//   @if $tblStyle  == permission{
//     height: calc($height - 340px);
//   }
//   @if $tblStyle  == inwardmov{
//     height: calc($height - 505px);
//   }
// }

::-webkit-scrollbar {
  width: 0.2em;
}

::-webkit-scrollbar-track {
  box-shadow: none;
}

:hover::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  // outline: 1px solid slategrey;
}

:hover::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

body {
  font-size: $font-size;
  font-family: $font-family;
}

.cardTitle {
  // background: linear-gradient(165deg, #0463EF, #66E5FB);
  background: #0463ef;
  position: absolute;
  left: 0;
  top: 0;
  padding: 5px 30px;
  border-radius: 7px 0px 50px 0px;
  color: #fff !important;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  height: calc(100vh - $header-height);
}

#sidebar {
  width: calc($sidebar-width + 82px);
  background: $sub-background;
  transition: all 0.3s ease-in-out;
  // height: 100vh;
  height: calc(100vh - $header-height);
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;
  left: 0;
  position: sticky;
  top: 0;
}

#sidebar-close {
  width: 0;
  white-space: nowrap;
  left: -100%;
  background: $sub-background;
  transition: all 0.3s ease-in-out;
  height: calc(100vh - $header-height);
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
  overflow-y: auto;
}

// #sidebar {
//   position: fixed;
//   top: 0;
//   width: 15%;
//   height: 100%;
//   display: flex;{
//   flex-direction: column;
//   padding: 0;
//   background: $sub-background;
// }
.nowrap {
  white-space: nowrap;
  padding: 0;
}

#sidebar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  visibility: hidden;
}

#sidebar:hover::-webkit-scrollbar {
  visibility: visible;
}

#sidebar::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.15);
  visibility: hidden;
}

#sidebar:hover::-webkit-scrollbar-track {
  visibility: visible;
}

#sidebar::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: darkgrey;
  // outline: 1px solid slategrey;
  visibility: hidden;
}

#sidebar:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.userPosition {
  font-size: 12px;
  color: #a098ae;
}

// .sidebar {
//   // width: 25%;
//   height: 100vh; // experiment with this value, try changing to 110vh
//   min-height: 200px;
//   overflow-y:auto ;
//   overflow-x: hidden;
//   position: -webkit-sticky;
//   position: sticky;
//   top: 0;
// }
#content {
  width: 100%;
  // padding: $header-height 20px 20px 20px;
  // padding: 0px 20px 20px 20px;
  padding: 0px 0px 20px 0px;
  min-height: 100vh;
  // min-height: calc(100vh - $header-height);
  transition: all 0.3s;
  background-color: $background-color;
  overflow-y: auto;
  overflow-x: hidden;
}

h1 {
  color: $text-color;
}

h2 {
  color: $text-color;
}

h3 {
  color: $text-color;
}

h4 {
  color: $text-color;
}

h5 {
  color: $text-color;
}

h6 {
  color: $text-color;
  margin-bottom: 0;
}

p {
  color: $text-color;
  margin-bottom: 0;
}

a {
  color: $primary-color;
  cursor: pointer;
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

//button
.btn-primary,
.btn-primary:focus,
.btn-primary:active {
  color: $alt-text-color;
  background-color: $secondary-color;
  border-color: $secondary-color;
  box-shadow: none !important;
}

.btn-primary:hover {
  color: $alt-text-color;
  background-color: $primary-color;
  border-color: $primary-color;
  box-shadow: none !important;
}

//layout styles
.active {
  // background-color: #04c9d7;
  // margin: 10px;
  margin: 0px;
  border-radius: 9px;
  color: $alt-text-color;
}

.form-control:focus {
  border-color: $secondary-color;
  box-shadow: none;
}

//layout styles
.form-check-input:checked {
  background-color: $primary-color;
  border-color: $primary-color;
}

.form-check-input:focus {
  border-color: $primary-color;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.25rem rgba($primary-color, 0.25);
  box-shadow: 0 0 0 0.25rem rgba($primary-color, 0.25);
}

.card {
  border-radius: $box-radius;
  border: none;
  box-shadow: rgb(90 114 123 / 11%) 0px 7px 30px 0px;
}

.responsive-table-fixed {
  width: 100%;
  overflow: auto;
  // height: calc(100vh - 200px);
  height: auto;

  .table {
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px;

    thead {
      display: table-header-group;
      // display: table;
      width: 100%;
      border-collapse: separate;
      border-spacing: 0px;

      tr {
        color: inherit;
        display: table-row;
        vertical-align: middle;
        outline: 0px;
        width: 100%;
        border-collapse: separate;
        border-spacing: 0px;

        th {
          font-family: "DM Sans", sans-serif;
          font-weight: 500;
          font-size: 0.875rem;
          line-height: 1.5rem;
          display: table-cell;
          vertical-align: inherit;
          border-bottom: 1px solid rgb(224, 224, 224);
          text-align: left;
          padding: 16px;
          color: rgba(0, 0, 0, 0.87);
          position: sticky;
          top: 0px;
          z-index: 2;
          background-color: rgb(250, 251, 251);
        }
      }
    }

    tbody {
      td {
        vertical-align: middle;
      }
    }
  }
}

.for-show-column {
  overflow: hidden;
  position: relative;
}

.show_header_selection {
  // position: fixed;
  // top: 0;
  // z-index: 99999;
  // width: 100%;
  // padding: 0px 20px;
  // left: 0;
  height: 100%;

  .show_header_selection_box {
    overflow-y: auto;
    max-height: 100%;
    // background-color: #eee;
    // padding: 20px;
    // border-radius: 0px 0px 20px 20px;
    position: relative;

    h2 {
      font-size: 16px;
      padding-bottom: 10px;
      border-bottom: 1px solid #eee;
    }

    .btn-icon {
      position: absolute;
      right: 20px;
      top: 0px;
      cursor: pointer;
      font-size: 24px;
    }
  }

  .btn-icon {
    position: absolute;
    // left: -4px;
    left: -30px;
    // width: 15px;
    // background: white;
    // padding: 13px 0px 13px 3px;
    padding: 3px;
    // border-radius: 50% 0 0 50%;
    color: #3a3a3a;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.04);
    font-size: 24px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    cursor: pointer;
    transition: all 0.4s ease-out;
    border-radius: 20px 0px 0px 20px;

    // background-color: var(--primary-color);
    i {
      display: block;

      &::before {
        display: block;
      }
    }
  }

  // .btn-icon:hover {
  //   left: -15px;
  //   border-radius: 10px 0 0 10px;
  // }
}

.show_header_selection.shown {
  .btn-icon {
    // left: -15px;
    border-radius: 10px 0 0 10px;

    i {
      display: block;
    }
  }

  // i {
  //   // transform: rotate(180deg);
  // }
}

::ng-deep .custom-control.custom-checkbox.check-all {
  // border-bottom: 1px solid #ddd;
  // margin-bottom: 5px;
  padding-bottom: 5px;
  margin: 0px 10px;
  // background: #eee;
  border-radius: 10px;
}

.show_header_selection {
  width: 280px !important;
  // position: absolute;
  position: fixed;
  z-index: 1029;
  // top: 50%;
  top: 145px;
  right: 0;
  background: #fff;
  box-shadow: 0 1px 15px rgb(0 0 0 / 4%), 0 1px 6px rgb(0 0 0 / 4%);
  // transform: translate(280px,-50%);
  transform: translate(280px, 0%);
  padding-top: 50px;
  padding-bottom: 10px;
  height: calc(100vh - 215px);
}

.show_header_selection.shown {
  // transform: translateY(calc(-50% + .5px));
  transform: translate(0px, 0%);
  transition: transform 0.4s ease-out;
  box-shadow: 0 1px 35px rgb(0 0 0 / 6%), 0 1px 35px rgb(0 0 0 / 6%);
  border-radius: 20px 0px 0px 20px;
}

.show_header_selection.hidden {
  // transform: translate(280px,-50%);
  transform: translate(280px, 0%);
  transition: transform 0.4s ease-out;
}

.show_header_selection.shown+div::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0px;
  top: 0px;
  z-index: 999;
}

.custom-control.custom-checkbox.check-all {
  // border-bottom: 1px solid #ddd;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}

.custom-control {
  position: relative;
  display: block;
  min-height: 1.5rem;
  padding: 5px 20px 5px 25px;
  margin: 0px 10px;
  // padding-left: 1.5rem;
}

// .custom-control-input {
//   left: 1px;
//   top: 3px;
//   opacity: 0;
//   z-index: 1;
//   pointer-events: none;
// }
.custom-control-input {
  margin-top: 5px;
  display: none;
}

.custom-control-input,
.custom-control-label {
  outline: initial !important;
  box-shadow: none !important;
  vertical-align: middle;
  margin-right: 10px;
}

.custom-control-label,
.form-check-label {
  line-height: 24px;
  padding-top: 1px;
}

.custom-control-label {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
  padding-left: 10px;
  font-size: 14px;
}

.custom-control-label:before,
.custom-control-label:after {
  content: "";
  width: 15px;
  height: 15px;
  top: 5px;
  position: absolute;
  left: -15px;
}

.custom-control-input:checked~.custom-control-label::before {
  background-color: #6418c3;
  border-color: #6418c3;
}

.custom-checkbox .custom-control-input:checked+.custom-control-label:before,
.custom-radio .custom-control-input:checked+.custom-control-label:before {
  background-color: #007dba;
  box-shadow: none !important;
}

.custom-control-input:checked+.custom-control-label:before {
  background-color: var(--primary-color) !important;
  box-shadow: none !important;
  border: 1px solid var(--primary-color) !important;
}

.custom-control-input:checked+.custom-control-label:before {
  color: #fff;
  border-color: #007bff;
  background-color: #007bff;
  display: block;
}

.custom-checkbox .custom-control-label:before {
  border-radius: 0.25rem;
  background: #eee;
  display: block;
}

.custom-control-label:after,
.custom-control-label:before {
  top: 0.25rem;
}

.custom-control-input:checked+.custom-control-label:after {
  background-color: none !important;
  box-shadow: none !important;
  border-top: 1px solid transparent !important;
  border-right: 1px solid transparent !important;
  border-bottom: 2px solid #fff !important;
  border-left: 2px solid #fff !important;
  transform: rotate(-45deg);
  position: absolute !important;
  height: 6px;
  width: 11px;
  left: -13px;
  top: 6px;
}

.card-list {
  justify-content: center;

  .card {
    height: 100%;

    .card-body {
      position: relative;

      // padding-bottom: 160px;
      // .table-box {
      //   position: absolute;
      //   bottom: 0px;
      //   width: 100%;
      //   left: 0px;
      //   padding: 0px 15px;
      // }
      .App {
        text-align: center;

        // background-color: #ececec;
        img {
          object-fit: contain;
          height: 200px;
        }
      }

      .filepond--credits {
        display: none;
      }
    }
  }
}

/***
  START react - pagination
***/
.pagination {
  display: inline-block;
  padding-left: 0px;
  padding-right: 0px;
  margin: 10px 0px 0px 0px;

  & li {
    margin: 0px 2px;
    display: inline-block;

    & a {
      width: 22px;
      height: 22px;
      line-height: 22px;
      border-radius: 5px;
      text-align: center;
      font-size: 12px;
      display: block;
    }

    &.active {
      & a {
        // background-color: $primary-color !important;
        background-image: linear-gradient(90deg, #0463ef, #66e5fb) !important;
        color: #fff;
        // width: 20px;
        // height: 20px;
        // line-height: 20px;
        // border-radius: 50%;
        text-align: center;
        font-size: 12px;
      }

      & :hover {
        color: #fff;
      }
    }

    & :focus {
      outline: none;
    }
  }

  & li.disabled {
    opacity: 0.3;
  }
}

.break-me {
  padding: 2px;
}

#react-paginate li {
  display: inline-block;
}

.form-check-input {
  margin-top: 0.1rem;
}

.seperater {
  margin: 20px 15px;
  border-top: 1px solid #eee;
  display: block;
  width: 100%;
}

/***
  END react - pagination
***/
/***
  START Loader
***/
/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
}

/* Transparent Overlay */
.loading:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: "";
  display: block;
  font-size: 10px;
  width: 70px;
  height: 70px;
  margin-top: -0.5em;
  // border: 15px solid rgba(33, 150, 243, 1.0);
  border: 15px solid rgba($primary-color, 1);
  border-radius: 100%;
  border-bottom-color: transparent;
  -webkit-animation: spinner 1s linear 0s infinite;
  animation: spinner 1s linear 0s infinite;
}

/* Animation */
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/***
  END Loader
***/
.bdr_right {
  border-right: 1px solid #ccc;
}

.permissiontable {
  th {
    padding: 0px;
  }

  td {
    padding: 0px;
  }

  thead {
    border-bottom: 2px solid #ccc !important;
  }
}

h1,
.h1 {
  font-size: 1.75rem;
}

.srno {
  background-color: #efefef;
  border-radius: 10px;
  padding: 3px 10px;
  margin: 2px;
}

.action-btn {
  // background-color: #efefef;
  border-radius: 10px;
  padding: 3px 7px;
  margin: 2px;
}

.main-card {
  /* Subtract 80px from 100vh */
  height: calc(100vh - 240px);
}

.z-dropdown {
  z-index: 2 !important;
}

// .card-body{
//   z-index: 0;
// }
// Dropdown {
//   overflow: visible;
//   z-index: 2;
// }
.card-body {
  z-index: 0;
}

section .card .card-body {
  .row>div {
    margin-bottom: 1rem;

    label {
      margin-bottom: 0.3rem;
    }
  }
}

.page-title-section {
  // background-image: linear-gradient(#fff, #f5f5f5);
  padding: 20px 30px 10px 30px;
  // margin-bottom: -10px !important;
  position: sticky;
  // top: $header-height;
  top: 0px;
  // z-index: 1101;
  z-index: 1099;
  background-color: $background-color;
  border-radius: 10px 10px 0px 0px;
  // h1 {
  //   border-bottom: 5px solid #eb670a;
  // }
}

.pageContent {
  padding: 0px 20px;
}

.sectionTitle {
  display: block;
  font-weight: bold !important;
  margin-bottom: 20px !important;
  margin-top: 20px !important;
  color: #0463ef !important;

  &::before {
    content: "";
    border: 3px solid;
    display: inline-block;
    transform: rotate(45deg);
    margin-right: 10px;
    vertical-align: middle;
  }
}

// @mixin text-color($val){
//     @if $val == light {
//       color: #f8f9fa;
//     }
//     @else if $val == dark {
//       color: #212529;
//     }
//   }
// .inward {
//     font-size:16px;
//     @include text-color(dark);
// }
// .outward {
//   font-size:16px;
//   @include text-color(light);
// }
.outward {
  // background-color: #f9e6e6 !important;
  background-color: #fdf7f7 !important;

  td:first-child {
    border-left: 5px solid #f9e6e6;
  }
}

.inward {
  // background-color: #d3f5d3 !important;
  background-color: #f8fff8 !important;

  td:first-child {
    border-left: 5px solid #d3f5d3;
  }
}

// .outward{
//   background-color: #ffffdd;
// }
// .inward{
//   background-color: #f6f7f8;
// }
// $height: 100vh;
// @mixin tbox($tboxStyle) {
//   @if $tboxStyle == tdark {
//     // height: calc($height - 100px);
//     height: calc($height / 5);
//     background-color: gray;
//   }
//   @if $tboxStyle == tlight {
//     height: calc($height - 500px);
//     background-color: green !important;
//   }
// }
// .res-table {
//   @include tbox(tdark);
// }
// .per-table {
//   @include tbox(tlight);
// }
// .myClass{
//   width: 250px;
//   margin: 15px;
//   padding: 25px;
//   border-radius: 5px;
//   @include box(tlight);
// }
// @mixin box($boxStyle) {
//   @if $boxStyle == dark {
//     background-color: #000;
//     color: #fff;
//   }
//   @if $boxStyle == light {
//     background-color: #f8f8f8;
//     color: #000;
//   }
// }
// .myClass {
//   width: 250px;
//   margin: 15px;
//   padding: 25px;
//   border-radius: 5px;
//   @include box(light);
// }
// .stockManagement {
//   .responsive-table-fixed {
//     @include tbl(stockmng);
//   }
// }
// .permission {
//   .responsive-table-fixed {
//     @include tbl(permission);
//   }
// }
// .inwardmovement {
//   .responsive-table-fixed {
//     @include tbl(inwardmov);
//   }
// }
.svgicon {
  color: #ea670a;
}

.form-control {
  border-radius: 0.25rem !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.ReactModalPortal>div {
  z-index: 9999;
}

.ReactModal__Content {
  width: 75%;
  margin: 0 auto;
  padding: 0px !important;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border: 0px solid !important;
  border-radius: 20px !important;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rebeccapurple;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
  width: 100%;

  .modal-body {
    // height: 70vh;
    height: calc(100vh - 220px);
    overflow-y: auto;
    width: 100%;
  }

  // margin: 0 auto;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

// .modal-header {
//   // padding: 0.25rem 0rem;
// }

// .modal-footer {
//   // padding: 0rem;
// }

// START PDF CSS
.pdf_btmborder {
  border-bottom: 5px solid $primary-color;

  td {
    white-space: nowrap;
    background-color: $background-color;
  }
}

.center-info {
  border: 1px solid $light-border;
  padding: 5px;

  span {
    font-weight: bold;
  }
}

.warmeo-table {
  thead {
    background-color: $primary-color;
    color: $sub-background;
    text-align: center;

    th {
      padding: 10px;
      border: 1px solid rgba($light-border, 0.5);
    }
  }

  tbody {
    td {
      text-align: center;
      border: 1px solid rgba($light-border, 0.25);
    }

    tr:last-child {
      border-bottom: 5px solid $primary-color;
    }
  }
}

.autorized-table {
  text-align: right;
  font-weight: bold;
  // .autorized{
  //   td {
  //     text-align: right;
  //   }
  // }
}

// END PDF CSS
.galleryItem {
  text-align: center;
  position: relative;
  margin-bottom: 50px;

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .galleryButton {
    position: absolute;
    width: 100%;
    bottom: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.pill {
  padding: 0px 12px;
  border-radius: 50px;
}

.pill_Active {
  background-color: $active_color_bg !important;
  border: 0px !important;

  span {
    color: $active_color !important;
  }
}

.pill_Inactive {
  background-color: $inactive_color_bg !important;
  border: 0px !important;

  span {
    color: $inactive_color !important;
  }
}

.inlineRadio>div {
  display: inline-block;
  margin-right: 10px;

  button {
    margin: 5px;
    vertical-align: middle;
    padding: 2px;
  }

  span {
    color: #000;
  }
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #000;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #000;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #000;
}

// dashboard css start for fincart
.graphContainer {
  background-image: url(../public/round.png);
  background-repeat: no-repeat;
  background-position: left center;
  // background-color: #4997ec;
  background-color: $primary-color;
  border-radius: 10px;
  padding: 15px;
}

.greenArrowup {
  background-color: #32cd32;
  border-radius: 30px;
  min-width: 24px;
  text-align: center;

  // padding: 0px 7px;
  svg {
    fill: #007bff;
  }
}

.redArrowDown {
  background-color: #f00;
  border-radius: 30px;
  min-width: 24px;
  text-align: center;

  // padding: 0px 7px;
  svg {
    fill: #fff;
  }
}

.gainUp {
  position: relative;

  svg {
    fill: #32cd32 !important;
    position: absolute;
    top: 5px;
    left: -5px;
  }
}

.lossDown {
  position: relative;

  svg {
    fill: #dc3545 !important;
    position: absolute;
    top: 5px;
    left: -5px;
  }
}

.greenTick {
  // background-color: #ffffff;
  border-radius: 30px;
  padding: 0px 0px 0px 4px;

  svg {
    fill: #339cff;
  }
}

.blueText {
  color: #339cff;
}

.bluedarkText {
  color: #005cb3 !important;
}

.yellowText {
  color: #fbc040 !important;
}

.colorBox {
  height: 5px;
  position: relative;
  line-height: 100px;
  vertical-align: middle;
  margin-bottom: 20px;
  text-align: center;
  background-color: #0a51a4;
  border-radius: 10px;
}

.a {
  background: #9c9e9f;
  border-radius: 10px;
}

.a:after {
  content: "";
  width: 95%;
  height: 100%;
  top: 0;
  right: 0;
  display: block;
  position: absolute;
}

.a:after {
  background: #f6f6f6;
}

.progressCustom {
  margin-top: 10px;

  .progressBar {
    height: 4px;
    position: relative;
    line-height: 100px;
    vertical-align: middle;
    text-align: center;
    background: #f6f6f6;
    border-radius: 10px;

    .progressStatus {
      height: 100%;
      position: absolute;
      // background-color: orange;
    }
  }

  &:nth-child(4n + 1) {
    .progressStatus {
      background-color: #437fbf;
    }
  }

  &:nth-child(4n + 2) {
    .progressStatus {
      background-color: #f9c761;
    }
  }

  &:nth-child(4n + 3) {
    .progressStatus {
      background-color: #93cb79;
    }
  }

  &:nth-child(4n + 4) {
    .progressStatus {
      background-color: #b12a30;
    }
  }
}

.activetab {
  padding: 15px;
  border: 0px;
  color: #0a51a4;
  border-bottom: 5px solid #0a51a4;
}

.inactivetab {
  padding: 15px;
  border: 0px solid green;
  color: gray;
  border-bottom: 5px solid transparent;
}

.goalContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 0 0 5px 0;
}

.tabsContent {
  padding: 10px 0 0 0 !important;
}

// Divider

.switchDivider {
  display: flex;

  &:before,
  &:after {
    content: "";
    flex: 1;
  }
}

// Base line
.dividerLine {
  align-items: center;
  margin: 0.5em -0.5em;

  &:before,
  &:after {
    height: 1px;
    margin: 0 0.1em;
  }
}

.orangeLine {

  &:before,
  &:after {
    background: orange;
  }
}

.steps {
  display: flex;
  justify-content: center;
  margin: 20px 0px;

  .step {
    text-align: center;
    padding: 0px 20px;
    position: relative;

    &:before {
      content: "";
      height: 1px;
      width: 100%;
      background: #000;
      display: block;
      position: absolute;
      top: 13px;
      left: 50%;
      z-index: 0;
    }

    &:last-child:before {
      display: none;
    }

    .stepNumber {
      display: inline-block;
      background-color: #b3daff;
      color: #fff;
      border: 1px solid #fff;
      border-radius: 50%;
      width: 26px;
      height: 26px;
      text-align: center;
      font-size: 14px;
      line-height: 26px;
      margin-bottom: 10px;
      position: relative;
      // z-index: 1;
    }

    .stepText {
      font-size: 10px;
      color: #767171;
    }
  }

  .step.active {
    .stepNumber {
      background-color: #339cff;
    }

    &:before {
      background-color: #339cff;
    }
  }
}

.goalBox {
  border-bottom: 1px dashed var(--colors-gray7);
  padding-bottom: 10px;
  padding-top: 10px;
  // align-items: center;
}

.portfolioRow {
  padding: 0px;
  border-bottom: 1px solid #339cff;
  background-color: #fff;
}

.tabtitle {
  padding: 10px 20px;
  border-bottom: 1px solid #339cff;
}

.tabcontent_line {
  padding: 10px 20px;
  border-bottom: 1px solid #faac05;
}

.tabtitlecontent {
  padding: 10px 20px;
}

.carousel .control-arrow:before,
.carousel.carousel-slider .control-arrow:before {
  margin: 0 5px;
  display: inline-block;
  border-top: 15px solid transparent !important;
  border-bottom: 15px solid transparent !important;
  content: "";
}

.carousel .control-arrow:after,
.carousel.carousel-slider .control-arrow:after {
  margin: 0 5px;
  display: inline-block;
  border-top: 15px solid transparent !important;
  border-bottom: 15px solid transparent !important;
  content: "";
}

.carousel .control-next.control-arrow:before {
  border-left: 15px solid $investinfo-text-color !important;
}

.carousel .control-next.control-arrow:hover:before {
  border-left: 15px solid $primary-color !important;
}

.carousel .control-next.control-arrow:after {
  border-left: 15px solid #fff !important;
  margin-left: -25px;
}

.carousel .control-prev.control-arrow:before {
  border-right: 15px solid $investinfo-text-color !important;
}

.carousel .control-prev.control-arrow:hover:before {
  border-right: 15px solid $primary-color !important;
}

.carousel .control-prev.control-arrow:after {
  border-right: 15px solid #fff !important;
  margin-left: -15px;
}

.carousel.carousel-slider .control-arrow:hover {
  background: none !important;
}

.carousel.carousel-slider .control-arrow {
  top: 0;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  margin-top: 0;
  padding: 0 !important;
}

div.solid {
  // border-top: 1px solid $orange-color;
  border-top: 2px solid #faac05;
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 0.25;
}

.investinfo {
  color: $investinfo-text-color;

  >div {
    position: relative;

    // &::before {
    //   content: "";
    //   position: absolute;
    //   right: 0;
    //   height: 100%;
    //   width: 1px;
    //   background-color: white;
    //   display: block;
    // }
    @media only screen and (max-width: 768px) {
      &::before {
        display: none;
      }
    }
  }

  >div:last-child {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      height: 100%;
      width: 1px;
      background-color: white;
      display: none;
    }
  }
}

.modal-body-scroll {
  max-height: calc(100vh - 220px);
  overflow-y: auto;
  overflow-x: hidden;
}

.ActionBtn {
  display: block;
}

input:disabled,
textarea:disabled {
  background: #f7f7f7;
  color: gray !important;
}

.forthcoming {
  td {
    color: $primary-color;
    font-family: $font-family;
    font-weight: 300;
  }

  tr:nth-child(odd) {
    td {
      color: $primary-color;
    }
  }
}

.headerLine {
  // border-right: var(--bs-border-width) var(--bs-border-style) $yellow-color !important;
  border-left: var(--bs-border-width) var(--bs-border-style) $yellow-color !important;
}

/**Status Classes**/
.apiStatusClasses_success {
  background-color: rgb(0, 92, 179);
}

.apiStatusClasses_inprocess {
  background-color: rgb(179, 218, 255);
  // color: #fff;
  color: #0a51a4;
}


.apiOwnerStatusClasses_success {
  color: rgb(0, 92, 179);
  background-color: white;
}

.apiOwnerStatusClasses_inprocess {
  background-color: rgb(179, 218, 255);
  color: rgb(0, 92, 179);
}

.bg-yellow {
  background-color: rgb(251, 192, 64) !important;
  color: var(--colors-black);
}

.dashboard-list-scroll {
  max-height: 350px;
  min-height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
}

.react-autocomplete-input {
  font-size: 0.8rem;
  width: auto;
  line-height: 0.9rem;
}

.react-autocomplete-input li.active {
  background-color: #0a51a4;
  color: #fff;
  border-radius: 0.2rem;
}

//3D-Carousel
.slider-container {
  align-items: center;
  display: flex;
  height: 400px;
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
}

.slider-single {
  box-shadow: 0 0 30px rgb(255 255 255 / 60%), 0 0 60px rgb(255 255 255 / 45%), 0 0 110px rgb(255 255 255 / 25%), 0 0 100px rgb(255 255 255 / 10%);
  height: 420px;
  opacity: 1;
  left: 50% !important;
  transform: translateX(-50%);
  width: 500px;
  z-index: 2;
}

.slider-single-content {
  min-height: 465px;
}

.slider-left {
  position: relative;
}

.slider-left:hover::before {
  left: -18px;
}

.slider-right {
  position: relative;
}

.slider-right:hover::before {
  right: -18px;
}

.react-3d-carousel .slider-container .slider-right div,
.react-3d-carousel .slider-container .slider-left div {
  background-color: #b3daff !important;
  color: #333 !important;
  font-size: 1rem !important;
  border-radius: var(--space-3) !important;
  width: 40px !important;
  height: 50px !important;
  min-width: 30px !important;
  line-height: 40px !important;
  box-shadow: 3px 1px 2px 0px #b6b6b6 !important;
  margin-top: 0 !important;
  padding: 4px 12px !important;
  transform: translate(0%) !important;
  border: 1px solid #005CB3 !important;
}

.react-3d-carousel .slider-container .slider-left {
  right: 103% !important;
}

.react-3d-carousel {
  min-height: 600px;
}

.react-3d-carousel .slider-container .slider-content .slider-single .slider-single-content {
  background-color: #005CB3;
}

.slider-right div,
.slider-left div {
  border-radius: var(--size-xs);
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-arrow-right,
.fa-arrow-left {
  color: white;
}

.fa-arrow-right:before {
  content: "\f061";
}

.fa-arrow-left:before {
  content: "\f060";
}

//Goal Carousel

.rec-arrow {
  background-color: #b3daff !important;
  color: #333 !important;
  font-size: 1rem !important;
  border-radius: 0.5rem !important;
  width: 40px !important;
  height: 50px !important;
  min-width: 30px !important;
  line-height: 40px !important;
  box-shadow: 3px 1px 2px 0px #b6b6b6 !important;
}

.rec-arrow:disabled {
  opacity: 0;
  cursor: default !important;
}

.rec-arrow:hover:enabled,
.rec-arrow:focus:enabled {
  color: #fff !important;
  background-color: #005cb3 !important;
  box-shadow: 3px 1px 2px 0px #b6b6b6 !important;
}

.rec-dot {
  background-color: #339cff !important;
  box-shadow: 3px 1px 2px 0px #b6b6b6 !important;

}

.rec-dot:hover:enabled,
.rec-dot:focus:enabled,
.rec-dot_active {
  background-color: #005cb3 !important;
  box-shadow: 3px 1px 2px 0px #b6b6b6 !important;
}